@import '../../css/Responsive.scss';

@include mobile {
  .btnMargin {
    display: none;
  }
  .FeedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 18px;
  }
}

@include desktop {
  .Feed {
    display: flex;
  }
  .btnMargin {
    margin-right: 40px;
  }
  .FeedContent {
    margin-top: 14px;
    width: 100%;
  }
  .FeedHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.FeedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FilterContainer{
  border: 1px solid #ADB5BD;
  border-radius: 5px;
  padding: 2px 12px;
  font-size: 13px;
  color: #ADB5BD;
}

.rdoContainer {
  display: flex;
}

input[type="radio"] {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #E1E4E7 0% 0% no-repeat padding-box;
  opacity: 1;
  background-color: #E1E4E7;
  &:checked{
    background: var(--unnamed-color-00c854) 0% 0% no-repeat padding-box;
    background: #00C854 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

.rdoFont {
  font-size: 13px;
}